html {
  font-size: 10px;
}

body {
  background-color: black;
}

/* App */
.app {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.app > h1 {
  color: white;
  font-weight: bold;
  font-size: 4rem;
  margin-top: 3rem;
}